**/*.[0-9]
*.o
.idea/
/*.rpm
/*.sign
/.buildpath
/.project
/Makefile.inc
/dracut-cpio
/dracut-extractinitrd
/dracut-install
/dracut-util
/dracut.conf.d/*.conf
/dracut.pc
/src/dracut-cpio/target/
/test/*/*.html
/test/*/*.log
/test/*/.testdir*
build/
